# Default ignored files
/../../104-MaximumDepthofBinaryTree /.idea/shelf/
/../../104-MaximumDepthofBinaryTree /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../104-MaximumDepthofBinaryTree /.idea/httpRequests/
# Datasource local storage ignored files
/../../104-MaximumDepthofBinaryTree /.idea/dataSources/
/../../104-MaximumDepthofBinaryTree /.idea/dataSources.local.xml
